

html, body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgb(51, 51, 51);
}

a {
    color: antiquewhite;
}


button, select {
    font-size: 1.5em;
    padding: 6px 14px;
    color: white;
    background-color: blue;
    border-radius: 0.5rem;
    border: 0.4em solid rgb(134, 134, 180);
    cursor: pointer;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}

ul {
    margin:0;
    list-style-type: none; /* Remove bullets */
    padding: 0;
}


.header {
    color: rgb(181, 181, 235);
}

#audio_toggle_button, select {
    font-size: 1em;
    padding: 3px 6px;
}

#canvas_wrapper {
    margin:auto;
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
   
}
#canvas_container.full_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    background-color: black;
}

#grid_canvas {
    display: block;
}

#opengl_canvas {
    display: block;
    width: 100vh;
    height: 100vw;
    cursor: none;
}

#button-container {
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.add_shake {
    animation: canvas_shake 0.20s;
}

.add_gravity_shake_heavy {
    animation: canvas_shake_down_heavy 0.35s;
}


.add_gravity_shake_mild {
    animation: canvas_shake_down_mild 0.35s;
}

.add_victory_animation {
    animation: canvas_victory 2s infinite, rotate-colorhue 3s infinite;
}




@media screen and (max-width: 900px) {
    button {
        font-size: 1em;
        padding: 4px;
    }    
}

@media screen and (max-width: 640px) {
    button {
        font-size: 0.7em;
        padding: 4px;
    }    
}


@media screen and (max-width: 560px) {
    button {
        font-size: 0.5em;
        padding: 0;
    }

        
    #button-container {
        padding: 4px;
    }

        
    #button-container {
        padding: 4px;
    }
}

@keyframes canvas_victory {
    0%   { transform: rotate(-2deg); }
    49%  { transform: rotate(-2deg); }
    50%  { transform: rotate( 2deg); }
    100% { transform: rotate( 2deg); }
}

@keyframes canvas_shake {
    0%      { transform: translateX(-1vw) }
    10%      { transform: translateX(+1vw) }
    30%     { transform: translateX(-0.5vw) }
    50%     { transform: translateX(+0.5vw) }
    70%     { transform: translateX( 0) }
    100%    { transform: translateX( 0) }
}

@keyframes canvas_shake_down_heavy {
    0%      { transform: translateY(-8px) }
    10%      { transform: translateY(+8px) }
    30%     { transform: translateY(-5px) }
    50%     { transform: translateY(+5px) }
    70%     { transform: translateY( 0px) }
    100%    { transform: translateY( 0px) }
}

@keyframes canvas_shake_down_mild {
    0%      { transform: translateY(-0.5vw) }
    15%      { transform: translateY(+0.5vw) }
    40%     { transform: translateY(-0.2vw) }
    60%     { transform: translateY(+0.2vw) }
    70%     { transform: translateY( 0px) }
    100%    { transform: translateY( 0px) }
}

@keyframes rotate-colorhue {
    0% {  filter: hue-rotate(0deg)  }
    50% {  filter: hue-rotate(180deg)  }
    100% {  filter: hue-rotate(0deg)  }
}